html, body, a, h1, h2, h3, h4, h5, li, span {
  /* font-family: "Amita",sans-serif,"google" !important;
  font-size: 1.1em; */
  /* font-weight: bold; */
  font-style: normal;
  text-transform: none;
}
.nav-menu a {
  font-size: .7em;
}

.whole-personal {
  width: 60%;
  margin-left: 20%;
}
.menu-content-fit {
  padding-left: 10px;
  padding-top: 20px;
}
.single-testimonial {
  padding: 12px 30px 12px 30px;
}

.video-autload {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 38px;
}
#video {
  width: 100%;
  height: 100%;
}
.banner-content {
  padding-bottom: 30px;
}
.align-items-bottom-center {
  align-items: flex-end !important;
}
.img-fitnet {
  width: 70% !important;
}

.info-testimony {
  text-justify: auto;
  padding-right: 20px; 
}